.newsletter-section {
  background: linear-gradient(135deg, #ff6b6b, #f06595);
  padding: 60px 20px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  margin: 60px auto;
  max-width: 900px;
  min-width: 350px;
}

.newsletter-content h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.newsletter-content p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.newsletter-form input {
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  max-width: 300px;
  /* max-width: 80%; */
  font-size: 1rem;
  outline: none;

}

.newsletter-form button {
  padding: 12px 25px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  color: #ff3f6c;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #ffe6f0;
  color: #ff3f6c;
}

.success-msg {
  margin-top: 15px;
  font-size: 1rem;
  color: #e0ffe0;
}

/* Responsive */
@media (max-width: 768px) {
  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
  }
}
